@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Irish+Grover&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    background-color: #3E4A52;
}

.icones {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#lupa {
    background-color: white;
    border: none;
}

#busca {
    background-color: white;
}

.nivel_dois {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #3E4A52;
    background-color: #D1DAE0;
    display: flex;
    gap: 10%;
    border: none;
}